html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  image-rendering: pixelated;
}

canvas {
  height: 75%;
  background: blue;
}

/* For mobile devices in portrait orientation */
@media screen and (max-width: 767px) and (orientation: portrait) {
  canvas {
    margin-top: 30px;
  }
}

/* For mobile devices in landscape orientation */
@media screen and (max-width: 767px) and (orientation: landscape) {
  canvas {
    margin-top: 0px;
  }
}

@font-face {
  font-family: fontRetroGaming;
  src: url("/fonts/Retro Gaming.ttf");
}